
<div>
    <nav *ngIf="authService.isLoggedIn()">
        <div class="nav-links">
             <a routerLink="/peliculas" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Peliculas</a>
            <a routerLink="/promos" routerLinkActive="active-link">Promos</a>
            <a routerLink="/cines" routerLinkActive="active-link">Cines</a>
        </div>
        <div class="login-icon">
  <a (click)="logout()">
    <i class="fas fa-user-circle"></i>
  </a>
</div>

    </nav>
</div>